html, body, app-root {
  height: 100%;
  margin: 0;
  }



.inventory-body {
  position: fixed;
  min-width: 100%;
  background-image: url("background-cat.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-size: cover;
  }

div.ui.segment {
  background-color: rgba(241, 232, 232, 0.5);
  position: absolute;
  left: 105em;
  top: 18em;
  height: 30em;
  width: 20em;
  border: none;
}

.ui.orange.button, .ui.orange.buttons.button {
  display: block;
  width:10em;
  height: 3em;
  margin: auto;
  margin-top: 2em;

}

a {
  color: white;
}

div.ui.header.logo {
  font-size: 6em;
  color: rgb(224, 84, 18);
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 900;
  margin-left: 1em;
  margin-top: 0.1em;
}


